<section class="posts">
  <h1 class="posts__heading">Posts</h1>
  <table class="posts__table">
    <thead class="posts__table__header">
      <tr>
        <th class="posts__table__header__item">Id</th>
        <th class="posts__table__header__item">HackerNews Id</th>
        <th class="posts__table__header__item">Author</th>
        <th class="posts__table__header__item">Article</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td class="posts__table__body__item"><%= post.id %></td>
          <td class="posts__table__body__item"><%= post.website_id %></td>
          <td class="posts__table__body__item"><%= post.author %></td>
          <td class="posts__table__body__item">
            <a href="<%= post.url %>" target="_blank">
              <%= post.title %>
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @posts %>
</section>
